/* -------------
 * Selects
 * ------------- */
/* Custom Select*/
span.customSelect {
	
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-khtml-border-radius:0px;
	border-radius: 0px;
	font-size:14px;
	border: 1px solid #eee;
	background-color: #fff;
	color: #777;
	text-decoration: none;
	white-space: nowrap;
	text-align:left;
}
span.customSelect option {font-size:12px !important;}
span.customSelect.changed {
	background-color: #f0dea4;
}
.customSelectOpen {
  /*-moz-box-shadow: 0 0 3px #ff906a;
  -webkit-box-shadow: 0 0 3px #ff906a; 
  box-shadow: 0 0 3px #ff906a;*/
}

.customSelectInner {
	background:url('../../image/axopc/select-arrow-down.gif') no-repeat center right;
	width:100% !important;
}
.customSelectOpen .customSelectInner{ background:url('../../image/axopc/select-arrow-up.gif') no-repeat center right; }

#input-sort , #input-limit, #product .form-group select { cursor:pointer;}


/* TREEVIEW CATEGORY LEFT */
.treeview-list, .treeview-list ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}
.treeview-list ul {
	background:none; 
	margin:0px;
}
.treeview-list .hitarea {
	background: none;
	height: 9px;
	width: 9px;
	float: right;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea { display: inline;float:none; }
.treeview-list li { margin: 0; border-bottom:1px solid #ddd; }
.treeview-list li.last, .treeview-list li.lastExpandable,.box .treeview-list li.last {border:none;}
.treeview-list a.selected { background-color: #eee; }

.treeview-list .hover { color:#38B0E3; cursor: pointer; }
.treeview-list li a:hover,.treeview-list li.nav-1 a:hover	 {   cursor:pointer; }
.treeview-list li ul li:hover	{ background:none;}
.treeview-list li a { display:inline;  padding-left:0px; }
.treeview-list li.active a	{ font-weight:bold; /*color:#D09E00 ;*/  } 
.treeview-list li.active ul li a	{ font-weight:normal; color:#5E5E5E;}
.treeview-list li a:hover  {/*color:#D09E00;*/ } 	
.treeview-list li ul li a:hover	{/*color:#D09E00;*/ } 	
.treeview-list li ul li { background:none; border-bottom:none; }
.treeview-list .collapsable .expandable-hitarea { 
	background: url(../../image/axopc/sprite.png) no-repeat scroll -38px -98px transparent;
    height: 25px;
    width: 25px;  
} 
.treeview-list .expandable .collapsable-hitarea{ 
	background: url(../../image/axopc/sprite.png) no-repeat scroll -38px -72px transparent;
    height: 25px;
    width: 25px;  
} 

.treeview-list .expandable-hitarea { 
	background: url(../../image/axopc/sprite.png) no-repeat scroll -38px -72px transparent;
    height: 25px;
    width: 25px;  
} 
.treeview-list .collapsable-hitarea { 
	background: url(../../image/axopc/sprite.png) no-repeat scroll -38px -98px transparent;
    height: 25px;
    width: 25px;
} 
/* TREEVIEW CATEGORY LEFT */


/* FancyBox */

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	 -khtml-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../../image/axopc/fancybox_sprite.html');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../../image/axopc/fancybox_loading.html') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../../image/axopc/blank.html'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../../image/axopc/fancybox_overlay.html');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	 -khtml-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*.zoomContainer .zoomLens{
	cursor: url(../../image/axopc/zoom.png), pointer !important;
	border:none !important;
	opacity:0 !important;
}*/
.zoomContainer .zoomWindow{

	/*border:2px solid #DBDEE1 !important;
	-webkit-box-shadow: 3px 4px 4px -1px #999999;
	-moz-box-shadow: 3px 4px 4px -1px #999999;
	box-shadow: 3px 4px 4px -1px #999999;*/

}
.common-home .zoomWindowContainer{
	display: none!important;
}

/* FancyBox */

.last_item_tm .product-block{}
.first_item_tm .product-block{}


.toggle .mobile_togglemenu{ 
	background: url("../../image/axopc/toggle-arrow.png") no-repeat scroll right 2px transparent;
    cursor: pointer;
    display: block;
    margin-top: -25px;
    overflow: hidden;
    padding: 0 0 10px;
    position: absolute;
    width: 100%;
}

.toggle {
   
}

.active .mobile_togglemenu { background-position:right -50px; }
#footer .mobile_togglemenu:hover	{ text-decoration:none;}

/* Responsive menu Css Start */
.nav-responsive span { display:inline-block;}
.ie7 .nav-responsive span { display:inline;}
.nav-responsive { 
	cursor:pointer; 
	display:none;
	padding: 0 15px;
}
.main-navigation  ul  li{ list-style:none; position:relative;}
.nav-responsive .expandable{
	background-image:url("../../image/axopc/menu.svg");
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size:22px auto;
	height: 44px;
	margin-top: 0;
	width: 30px;
} 
.nav-responsive .expandable.active{
	background-image:url("../../image/axopc/menu-active.svg");
	background-size: 16px auto;
}
.responsive-menu {position:relative;}
.responsive-menu .main-navigation{ 
	position:absolute; 
	z-index:999;  
	display:none; 
	margin-top:0px; 
	padding:1%;
	width:100%; 
	list-style:none;
}
.responsive-menu .main-navigation ul{padding-left:20px;}
.nav-responsive div,
.responsive-menu .hitarea {
	background: none;
	height: 9px;
	width: 9px;
	float: right;
	cursor: pointer;
	margin-right:0;
}
.responsive-menu .hitarea{margin-right:0;}
.responsive-menu .expandable .collapsable-hitarea{ 
	background:url("../../image/axopc/sprite.png") no-repeat scroll -9px -92px transparent;
	height: 33px;		
	padding: 0;
	width: 30px;
} 
.responsive-menu .expandable-hitarea { 
	background:url("../../image/axopc/sprite.png") no-repeat scroll -9px -66px transparent;
	height: 33px;
	width: 30px;		
	padding: 10px;
} 
.responsive-menu .collapsable-hitarea { 
	background: url("../../image/axopc/sprite.png") no-repeat scroll -9px -92px transparent;
	height: 33px;
	width: 30px;	
} 

/* Responsive menu Css End */

@media only screen and (max-width: 991px) {
	.common-home .zoomContainer .zoomLens{
		cursor: url(../../image/axopc/zoom.html), pointer !important;
		border:none !important;
		opacity:0 !important;
	}
	.common-home .zoomContainer{
		display: none!important;
	}
}
@media (max-width: 767px){
	.brands .customNavigation{opacity: 1;}
}
