/* CSS Document */
.swiper-viewport {
	background: #fff;
	z-index: 1;
	border: 4px solid #fff;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
	width: 100%;
	position: relative;
	overflow: visible;
}
/* OpenCart Code */
.swiper-container {
	direction: ltr !important;
}
.swiper-pager {
	/*width: 80px;
	position: absolute;
	top: auto;
	line-height: 45px;
	bottom: -38px;
	left: 130px;*/
}
.swiper-button-prev, .swiper-button-next {
	/*color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	transition: all .3s ease;
	z-index: 2;
 	background-image: none;*/
 	height: 50px;
 	width: 50px;
}
.swiper-viewport .swiper-button-prev {
	background-image: none;
	background-color: transparent;
    height: 25px;
	width: 68px;
    transform: scale(0);

    background-image: url("../img/prev.svg");
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: 20px auto;
    opacity: 0;
    transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	border: none;
}

.swiper-viewport .swiper-button-next {
	background-image: none;
 	background-color: transparent;
  	height: 25px;
	width: 68px;
	transform: scale(0);
    opacity: 0;
    transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	border: none;

    background-image: url("../img/next.svg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px auto;

}
.swiper-viewport .swiper-button-prev::after,.swiper-viewport .swiper-button-next::after{
	content: "";
	position: absolute;
	width: 55px;
	height: 2px;
	background: #fff;
	left: 0;
	top: 12px;
}
.swiper-viewport .swiper-button-prev::after{
	right: 0;
	left: auto;
}
.swiper-viewport .swiper-button-prev:hover::after,.swiper-viewport .swiper-button-next:hover::after {
    background: #ffd200;
}
.swiper-button-prev:hover{
	background-image: url("../img/prev-hover.svg");
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	border-color: #a1a1a1;
}
.swiper-button-next:hover{
	background-image: url("../img/next-hover.svg");
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	border-color: #a1a1a1;
}
.swiper-viewport:hover .swiper-button-prev,.swiper-viewport:hover .swiper-button-next{
	transform: scale(1);
    opacity: 1;
    transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}
/* Desktop */
@media (min-width: 768px){
/*.swiper-viewport .swiper-button-prev {
	opacity: 0.7;
	left: 0;
}
.swiper-viewport .swiper-button-next {
	opacity: 0.7;
	right: 0;
}*/
.swiper-viewport .swiper-button-prev:hover {


}
.swiper-viewport .swiper-button-next:hover {


}
}
/*.swiper-button-prev:before {
	width: 40px;
    height: 40px;
	font-family: FontAwesome;
	content: "\f104";
	color: rgba(0,0,0,0.8);
	font-size: 35px;
}
.swiper-button-next:before {
	width: 40px;
    height: 40px;
	font-family: FontAwesome;
	content: "\f105";
	color: rgba(0,0,0,0.8);
	font-size: 35px;
}*/
.swiper-pagination {
	bottom: -40px;
	left: 0;
	text-align: center;
	width: 100%;
}
.swiper-pagination-bullet {
	width: 11px;
	height: 11px;
	background:#000000;
	border-radius: 20px;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	margin: 0 5px;
	opacity: 1;
}
.swiper-pagination-bullet:hover {

}
.swiper-pagination-bullet-active {

}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
    cursor: pointer;
    pointer-events: auto;
}
 @media (max-width:767px) {

 }
